@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@600;700;900&family=Noto+Sans:wght@800&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --dark-blue:#1c2042;
    --dark-light:#eee;
}
html{
    font-size:16px;

}
body{
    background-color: var(--dark-blue);
    

    font-family: 'Fira Sans', sans-serif;
font-family: 'Noto Sans', sans-serif;
height:100vh;
display:flex;
    align-items: center;
    justify-content: center;

}
.card{
    background-color: var(--dark-light);
    color:#1c2042;
    width:25rem;
    min-height: 10rem;
    border-radius: 1rem;
    box-shadow: 3px 3px 8px rgba(255, 255, 255, 0.25);
    padding: 30px;

}


.details-container{
    height: 8rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.title{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 900;
}
.score{
    font-size: 1.2rem;
    font-weight: 600;
}
.score span{
    font-weight: 900;
}

.game-icons{
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.btn-1{
    margin-top: 1rem;
    margin-bottom: 1rem;
    height:4rem;
    width:4rem;
    border-radius: 50%;
    cursor: pointer;
    
}
.btn-1:hover{
    transform: scale(1.20);
    background-color: #1c2042;
    color:#eee;

}
.para{
    display: none;
    height:7rem;
    text-align: center;
    font-weight: 900;
    font-size: 18px;
    
}

